[Unit]
Description=Smart Garden System
After=network.target

[Service]
User=cloudcrop
WorkingDirectory=/home/cloudcrop/smart-garden-system
ExecStart=/home/cloudcrop/smart-garden-system/venv/bin/python3 -m src.main
Restart=always
RestartSec=10
EnvironmentFile=/home/cloudcrop/smart-garden-system/.env

[Install]
WantedBy=multi-user.target
